ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#dedede;border-width:1px;border-style:solid;border-color:#5f5f5f;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;background-color:#FFFFFF;border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;border-color:#d4d4d4;padding:0 10px 10px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1{
	font-size:0;width:100%;z-index:999;position:relative;display:inline-block;zoom:1;padding:0 0%;margin:0 0%;
	*display:inline;*padding-right:1.77%;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;width:16%;}
ul#css3menu1 li.toplast{
	width:20%;}
body:first-of-type ul#css3menu1{
	display:inline-table;border-spacing:0px 0;}
body:first-of-type ul#css3menu1>li{
	display:table-cell;float:none;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 12px Georgia,serif;color:#67B3FE;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:0px 10px 0px 10px;background-color:#fefefe;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 0;border-width:0 0 0 1px;border-style:solid;border-color:#C0C0C0;}
ul#css3menu1 ul li{
	float:none;margin:10px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;background-color:#FFFFFF;background-image:none;border-width:0;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;font:bold 12px Georgia,serif;color:#67B3FE;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#67B3FE;border-color:#C0C0C0;border-style:solid;color:#000000;text-shadow:#FFF 0 0 1px;background-image:url("mainbk.png");background-position:0 100px;text-decoration:none;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:0px;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#67B3FE;background-image:none;color:#000000;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-radius:7px 0 0 7px;-moz-border-radius:7px 0 0 7px;-webkit-border-radius:7px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
ul#css3menu1 li.topmenu>a{
	-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
ul#css3menu1 li.toplast>a{
	border-radius:0 7px 7px 0;-moz-border-radius:0 7px 7px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:7px;-webkit-border-bottom-right-radius:7px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
ul#css3menu1>li:nth-child(1){width:17%}ul#css3menu1>li:nth-child(2){width:13%}ul#css3menu1>li:nth-child(3){width:22%}ul#css3menu1>li:nth-child(4){width:15%}ul#css3menu1>li:nth-child(5){width:15%}ul#css3menu1>li:nth-child(6){width:18%}
@-moz-document url-prefix(){body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:339px),only screen and (max-device-width:339px){
ul#css3menu1>li:nth-child(1){width:33%}ul#css3menu1>li:nth-child(2){width:25%}ul#css3menu1>li:nth-child(3){width:42%}ul#css3menu1>li:nth-child(4){width:32%}ul#css3menu1>li:nth-child(5){width:32%}ul#css3menu1>li:nth-child(6){width:36%}body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:175px),only screen and (max-device-width:175px){
ul#css3menu1>li:nth-child(1){width:57%}ul#css3menu1>li:nth-child(2){width:43%}ul#css3menu1>li:nth-child(3){width:58%}ul#css3menu1>li:nth-child(4){width:42%}ul#css3menu1>li:nth-child(5){width:46%}ul#css3menu1>li:nth-child(6){width:54%}}
@media only screen and (max-width:125px),only screen and (max-device-width:125px){
ul#css3menu1>li:nth-child(1){width:57%}ul#css3menu1>li:nth-child(2){width:43%}ul#css3menu1>li:nth-child(3){width:100%}ul#css3menu1>li:nth-child(4){width:50%}ul#css3menu1>li:nth-child(5){width:50%}ul#css3menu1>li:nth-child(6){width:100%}}
@media only screen and (max-width:104px),only screen and (max-device-width:104px){
ul#css3menu1>li:nth-child(1){width:100%}ul#css3menu1>li:nth-child(2){width:38%}ul#css3menu1>li:nth-child(3){width:62%}ul#css3menu1>li:nth-child(4){width:50%}ul#css3menu1>li:nth-child(5){width:50%}ul#css3menu1>li:nth-child(6){width:100%}}
